<nav class="navbar navbar-dark" style="background-color: #0470a1;"  mb-4">
<div class="container">
<a class="navbar-brand" href="/">
<img src="/img/task.png" alt="" width="40" height="50">Mi sistema de tareas Ut Cancun</a>
</div>
</nav>